body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Courier New', Courier, monospace;
    color:white;
    display:flex;
    height:65px;
    align-items: center;
    list-style-type: none;
    background-color: black;
    gap:20px;
    font-size: 1.3rem;
    font-weight: bolder;

}
nav ul li{
    padding: 0 12px;

}
.brand img{
    width: 44px;
    padding:0 8px;

}
.brand{
    display:flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight:bolder;
}
.container{
    min-height:72vh;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    width: 70%;
    margin:23px auto;
    border-radius: 12px ;
    padding:34px;
    position:sticky;
    background-image:url('https://i.pinimg.com/originals/cf/ea/13/cfea13b1b0bb7b01311833d9629d31a9.jpg');
}
.bottom{
   position:sticky;
   height:130px;
   background-color: black;
   display:flex;
   justify-content:center;
   align-items:center;
   color:white;
   flex-direction: column;

}
.icon{
    margin: 24px;
}
.icons i{
    cursor:pointer;
}
#myProgressBar{
    width: 80%;
    cursor: pointer;
   
}
.songItemContainer{
    margin-top: 74px;
}
.songItem{
    height:50px;
    display:flex;
    background-color: white;
    color:black;
    margin:12px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin:0 23px;
    border-radius: 34px;

}
.timestamp{
    margin: 0 23px;
    cursor: pointer;
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left:10vw;
}
songInfo img{
    opacity:0;
    transition: opacity is ease-in;
}